<!DOCTYPE html>
<html>
  <head>
    <title>Words!</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href='css/styles.css' rel='stylesheet'>


  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
