<h1>Add a Word and it's definition</h1>

<form action="/word" method= 'post'>

  <label for="word">Word: </label>
  <input id="word" name="word" type="text">

  <label for="definition">Definition: </label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Add a Word</button>

</form>
