<h1>Add a Word and it's definition</h1>

<form action="/word" method= 'post'>

<div>
    <label for="word">Word: </label> <br>
    <input id="word" name="word" class="uk-input uk-form-success uk-form-width-medium" type="text" placeholder="input word" >
<p>
    <label for="definition">Definition: </label>
      <input id ="definition" name= "definition" class="uk-input uk-form-success uk-form-inline" type="text" placeholder="input definition" >
</p>

  <button type="submit">Add a Word</button>
</div>
</form>
