@import url('https://fonts.googleapis.com/css?family=Risque');
h1 {
  font-family: 'Risque', cursive;
}

h2 {
  font-family: 'Risque', cursive;
}

body {
  font-family: 'Risque', cursive;
  background-image: url(https://images.pexels.com/photos/261756/pexels-photo-261756.jpeg?h=350&auto=compress&cs=tinysrgb);
  text-align: center;
  background-size: cover;}  /* For a full size background image */
}
